$navBack: darkolivegreen;

nav {
    text-align: center;
    background: $navBack;
    margin-top: 12px;
    
    a {
        padding: 12px 18px;
        background: $navBack;
    }

    .navbar-brand {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: calc(8vh + 4vw);
        letter-spacing: 3px;
        text-shadow: black 4px 10px;
    }
};
