$navBack: darkolivegreen;

nav {
    background: $navBack;
    margin-top: 12px;
    text-align: center;
    
    a {
        padding: 12px 18px;
        background: $navBack;
    }
    
    .navbar-brand {
        margin-left: 23.5%;
        margin-right: 23.5%;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: calc(8vh + 4vw);
        color: whitesmoke;
        letter-spacing: 6px;
        text-shadow: black 4px 10px;
    }
};
