$navBack: darkolivegreen;

nav {
    background: $navBack;
    margin-top: 16px;
    text-align: center;
    box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2), 0 12px 28px 0 rgba(0, 0, 0, 0.19);

    
    a {
        padding: 12px 6px;
        background: $navBack;
    }
    
    .navbar-brand {
        margin-left: 4%;
        // margin-right: 23.5%;
        font-family: 'Monoton', cursive;
        font-size: calc(5.4vh + 3.2vw);
        color: whitesmoke;
        letter-spacing: 8px;
        text-shadow: rgb(54, 37, 37) 9px 17px;
    }
};
