$jumboDiv: lightgreen;
$center: center;

div {
    .jumbotron {
        background-color: $jumboDiv;
        margin-top: 27px;
        margin-bottom: 42px;
        text-align: $center;
        padding: 40px 22px 44px
    }

    h1 {
        font-family: monospace;
        font-size: calc(3vh + 2vw);
        color: whitesmoke;
        letter-spacing: 2px;
        text-shadow: black 3px 6px;
    }

    h3 {
        font-family: monospace;
        font-size: calc(2vh + 1.3vw);
        color: seagreen;
        text-shadow: lightgray 3px 6px;
        letter-spacing: 1.5px;
        text-align: $center;
    }

    article {
        display: inline;
    }

};