$jumboDiv: olive;
$center: center;
$font: 'Bungee Inline', cursive;

div {
    .jumbotron {
        background-color: $jumboDiv;
        margin-top: 27px;
        margin-bottom: 42px;
        text-align: $center;
        padding: 30px 22px 23px
    }

    h1 {
        font-family: $font;
        font-size: calc(3vh + 2vw);
        color: whitesmoke;
        letter-spacing: 2px;
        text-shadow: black 3px 6px;
    }

    h3 {
        font-family: $font;
        font-size: calc(2vh + 1.3vw);
        color: seagreen;
        text-shadow: lightgray 3px 6px;
        letter-spacing: 1.5px;
        text-align: $center;
        margin-top: 60px;
        margin-bottom: 50px;
    }

    .description {
        color: seagreen;
        text-shadow: lightgray 3px 6px;
        margin-left: 27%;
        margin-right: 27%;
        margin-bottom: 5%;
    }

    article {
        float: center;
        text-align: center;

    }

    p {
        font-family: $font;
        color: mediumseagreen;
        font-size: calc(1.2vh + 1vw);
        margin-bottom: 7%;
    }

    a {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: calc(1.6vh + 1.1vw);
        color: gold;
        text-shadow: limegreen 1px 2px;
    }

};