.list-group-item {
  background-color: seagreen;
}


.list-overflow-container {
  max-height: 545px;
  border: 3px goldenrod groove;
  border-radius: 4px;
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: center;
}

.list-overflow-container ul {
  object-fit: cover;
  margin: 0;
}

.list-overflow-container li {
  border-radius: 0px;
  border-left: none;
  border-right: none;
}

.list-overflow-container li * {
  cursor: pointer;
}

.list-overflow-container li a {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 2px;
  color: whitesmoke;
  font-size: calc(1.6vh + 1.1vw);
  text-shadow: lawngreen 2px 3px;
}

.list-overflow-container li:first-child {
  border-top: 15px;
}

.list-overflow-container li:last-child {
  border-bottom: 15px;
}
