.list-group-item {
  background-color: seagreen;
}

.list-overflow-container {
  box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2), 0 12px 28px 0 rgba(0, 0, 0, 0.19);
  max-height: 545px;
  border: 4px goldenrod groove;
  border-radius: 9px;
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: center;
}

.list-overflow-container ul {
  margin: 0;
}

.list-overflow-container li {
  border-radius: 0px;
  border-left: none;
  border-right: none;
}

.list-overflow-container li * {
  cursor: pointer;
  
}

.list-overflow-container li a {
  font-family: 'Bungee Inline', cursive;
  letter-spacing: 3px;
  color: whitesmoke;
  font-size: calc(2vh + 1.2vw);
  text-shadow: darkslategray 3px 5px;
}

.list-overflow-container li:first-child {
  border-top: 15px;
}

.list-overflow-container li:last-child {
  border-bottom: 15px;
}
