$formFont: monospace;

div {
    input {
        font-family: $formFont;
        text-align: center;
    }
    
    textarea {
        font-family: $formFont;
        text-align: center;
    }
    button {
        background: limegreen;
        font-family: $formFont;
        color: whitesmoke;

    }
};

