$formFont: monospace;

div {

    input {
        font-family: $formFont;
        text-align: center;
        color: darkgreen;
    }
    
    // button, input {
    //     // background-color: greenyellow;
    // }
        
    
    textarea {
        font-family: $formFont;
        text-align: center;
    }
    
    button {
        font-size: calc(2vh + 1.2vw);
        background: seagreen;
        font-family: $formFont;
        color: goldenrod;
        margin-left: 30%;
        border-radius: 9px;

    }

    img {
        float: center;
        width: 50%;
        height: 45vw;
        margin-top: 8%;
        margin-bottom: 8%;
        border: 18px groove goldenrod;
    }
};

