$formFont: monospace;

div {

    input {
        font-family: $formFont;
        text-align: center;
        // background-color: palegreen;
    }
    
    button, input {
        // background-color: greenyellow;
    }
        
    
    textarea {
        font-family: $formFont;
        text-align: center;
    }
    
    button {
        background: limegreen;
        font-family: $formFont;
        color: whitesmoke;

    }

    img {
        float: right;
        width: 50%;
        height: 45vw;
        margin-top: 10%;
        margin-bottom: 12%;
        border: 18px groove goldenrod;
    }
};

